<h1>Simple#index</h1>

<h2>ENV</h2>
<%= request.env.inspect %>

<h2>Cookies</h2>
<%= request.cookies.inspect %>

<h2>Params</h2>
<pre><%= params.inspect %></pre>

<% form_tag '/simple' do %>
  <%= text_field_tag :a %>
  <%= submit_tag 'Submit' %>
<% end %>